@model myfirstproject.Models.siniflar.Personel

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style=" font-size:25px ">Yeni Personel Sayfası </h2>
<br />

<form class="form-group" method="post">

    <div>
        @Html.Label("Personel Ad")
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        <br />
        @Html.Label("Personel Soyad")
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.Label("Personel Görsel")
        @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" }) @*controller personelekle dgr1 degeri geliyor.*@
        @*Html.TextBoxFor(x => x.KategoriId, new { @class = "form-control" })*@

        <br />
        <button class="btn btn-info"> Kaydet </button>

    </div>
</form>




